.campgrounds a, .card-title a {
    text-decoration: none;
    color:inherit;
}

.campgrounds a:hover, .card-title a:hover {
    text-decoration: none;
    color:#0097A7;
}

.mapPopUp {    
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}